table,td,tr{
        border:1px solid black;        
    }
    tr:nth-child(even){
        background-color: lightskyblue;
    }
    tr:nth-child(odd){
        background-color: rgb(180, 224, 241);
    }
    
    table {
       width: 700px;
    }
    caption{
        font-size: 2em;
        font-weight: bold;
    }