#contenedor{
    display:flex;
    justify-content:center;
}
table,td,tr{
    border:1px solid black;        
}
tr:nth-child(even){
    background: beige;
}
tr:nth-child(odd){
    background: azure;
}

table {
   width: 700px;
}
caption{
    font-size: 2em;
    font-weight: bold;
}